.checkoutproduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutproduct_info {
    padding-left: 20px;
}

.checkoutproduct_info > button {
    background: yellow;
    border: 1px solid;
    margin-top: 10px;
    border-color: yellowgreen;
    color: black;
}

.checkoutproduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutproduct_rating {
    display: flex;
}

.checkoutproduct_title{
    font-size: 17px;
    font-weight: 800;
}


